# NEED TO DEFINE THESE VARIABLES IN .ENV #
##########################################
#               Frontend                 #
##########################################
# - NEXT_PUBLIC_GITHUB
# - NEXT_PUBLIC_MAIL
# - API_URL
# - HOST_FRONTEND_PORT
##########################################
#                Backend                 #
##########################################
# - DATABASE_URL
# - MAIL_RECIPIENT
# - MAIL_MODULE_HOST
# - MAIL_MODULE_USER
# - MAIL_MODULE_PASSPHRASE
# - POSTGRES_HOST
# - HOST_BACKEND_PORT
##########################################
#               Database                 #
##########################################
# - HOST_DATABASE_PORT
# - HOST_DATABASE_PATH
##########################################
#                Common                 #
##########################################
# - API_KEY
# - NODE_ENV
# - POSTGRES_PASSWORD
# - POSTGRES_USER
# - DATABASE_NAME

networks:
  coincrusade-test:

name: coincrusade-runner-game-test

services:
  frontend:
    build:
      context: .
      dockerfile: docker/nextjs/Dockerfile
      args:
        - APP=frontend
        - TAG=base-latest
        - NODE_ENV=production
    image: lbriza/coincrusade-runner-game:fe-test
    container_name: coin-crusade-game_fe-test
    restart: always
    ports:
      - ${HOST_FRONTEND_PORT}:3000
    environment:
      - NODE_ENV=${NODE_ENV}
      - NEXT_PUBLIC_GITHUB=${NEXT_PUBLIC_GITHUB}
      - NEXT_PUBLIC_MAIL=${NEXT_PUBLIC_MAIL}
      - API_KEY=${API_KEY}
      - API_URL=${API_URL}
    depends_on:
      - backend
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  backend:
    build:
      context: .
      dockerfile: docker/node/prisma/Dockerfile
      args:
        - APP=backend
        - TAG=base-latest
        - NODE_ENV=production
    image: lbriza/coincrusade-runner-game:be-test
    container_name: coin-crusade-game_be-test
    restart: always
    ports:
      - ${HOST_BACKEND_PORT}:3001
    environment:
      - API_KEY=${API_KEY}
      - DATABASE_URL=${DATABASE_URL}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - DATABASE_NAME=${DATABASE_NAME}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - MAIL_RECIPIENT=${MAIL_RECIPIENT}
      - MAIL_MODULE_HOST=${MAIL_MODULE_HOST}
      - MAIL_MODULE_USER=${MAIL_MODULE_USER}
      - MAIL_MODULE_PASSPHRASE=${MAIL_MODULE_PASSPHRASE}
      - NODE_ENV=${NODE_ENV}
    networks:
      - coincrusade-test
    depends_on:
      - database
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  database:
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    image: lbriza/coincrusade-runner-game:db-test
    container_name: coin-crusade-game_db-test
    restart: always
    ports:
      - ${HOST_DATABASE_PORT}:5432
    environment:
      - NODE_ENV=${NODE_ENV}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${DATABASE_NAME}
    networks:
      - coincrusade-test
    volumes:
      - ${HOST_DATABASE_PATH}:/var/lib/postgresql/data
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
