# VARIABLES DEFINED IN .ENV.LOCAL FILES #
#########################################
# - apps/frontend/.env.local
# - apps/backend/.env.local
#
# To work with .env.local files you need to run `docker:build-local` or `docker:run-local`.

networks:
  coincrusade-local:

name: coincrusade-runner-game-local

services:
  frontend:
    build:
      context: .
      dockerfile: docker/nextjs/Dockerfile
      args:
        - APP=frontend
        - TAG=base-latest
    container_name: coin-crusade-game_fe-local
    env_file:
      - ./apps/frontend/.env.local
    ports:
      - '${PORT-3000}:3000'
    depends_on:
      - backend
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  backend:
    build:
      context: .
      dockerfile: docker/node/prisma/Dockerfile
      args:
        - APP=backend
        - PORT=3001
        - TAG=base-latest
        - NODE_ENV=local
    container_name: coin-crusade-game_be-local
    command: sh -c "pnpm prisma migrate deploy && pnpm start -p 3001"
    env_file:
      - ./apps/backend/.env.local
    ports:
      - '${PORT-3001}:3001'
    networks:
      - coincrusade-local
    depends_on:
      - database
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  database:
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    container_name: coin-crusade-game_db-dev
    env_file:
      - ./apps/backend/.env.local
    restart: always
    ports:
      - '5432:5432'
    networks:
      - coincrusade-local
    volumes:
      - '/apps/backend/database_data:/var/lib/postgresql/data'
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
