:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Helvetica, sans-serif;
  --background: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html{
  height: 100%;
}

body{
  padding: 20px;
  height: 100%;
  background: rgb(114, 114, 114);
}

#main{
  position:relative;
  width:fit-content;
  display:flex;
  flex-flow: column;
  row-gap: 20px;

  left:50%;
  transform: translateX(-50%);
}

h1{
  text-align: center;
  text-transform: uppercase;
}

input{
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
}

button{
  position:relative;
  left:50%;
  transform: translate(-50%);
  padding: 8px 15px;
  color:black;
  cursor: pointer;
}
option{
  color:black;
}
select{
  margin-bottom: 20px;
  padding: 10px;
  color:black;
}